body {
  background-color: rgb(53, 51, 51);
  background-image: url(./pics/pulse.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  margin: auto;
  /* background-position: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: flex-end; */
  /* padding: 10px; */
}

nav {
  background-color: rgb(53, 51, 51);
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 6px 1px rgba(77, 77, 77, 0.639);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  text-align: end;
  flex-wrap: nowrap;
  color: white;
}

li {
  padding: 1% 2%;
}

.accent:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* @media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
} */

/* @media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
} */

.header {
  /* border: 3px solid black; */
  max-width: 40%;
  margin: 7% 30% 2% 30%;
  font-size: 56px;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-shadow: -3px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
  margin: 0;
}

.border {
  text-shadow: -1px 0 rgb(48, 48, 48), 0 1px rgb(48, 48, 48), 1px 0 rgb(48, 48, 48), 0 -1px rgb(48, 48, 48);
}

.loginBox {
  background: rgba(0, 0, 0, 0.249);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  /* max-width: 40%; */
  margin: 3% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2%;
  border: 4px double white;
  outline: 2px solid white;
  box-shadow: 2px 2px 5px 7px rgba(77, 77, 77, 0.639);
  border-radius: 5px;
  font-size: 20px;

}

.signin {
  padding: 5px;
  margin: 0% 15% 3% 15%;
}

::placeholder {
  color: rgb(160, 158, 158);
}

.login {
  display: flex;
  justify-content: center;
  margin: 5% 40% 2% 40%;
  background-color: rgb(208, 135, 0);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 3%;
  font-size: 14px;
  font-weight: bold;
}

.login:hover {
  background-color: rgb(162, 106, 1);
  cursor: pointer;
}

.noaccount {
  /* border: 3px solid green; */
  font-style: italic;
  font-size: 12px;
  margin: 8% 15% 0% 15%;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.buttonGroup {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 12px;
  margin: 0% 15% 0% 15%;
}

p {
  font-weight: bold;
  font-size: 12px;
  padding: 0px 20px;
}

.buttons {
  min-width: 40%;
  padding: 2%;
  background-color: rgb(120, 120, 242);
  border: 0px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.buttons:hover {
  background-color: rgb(85, 85, 142);
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(53, 51, 51);
  box-shadow: 0 -1px 3px 1px rgba(77, 77, 77, 0.639);
}

.inset {
  margin: 0px 50px;
}
